header {
  background-color: #ADADAD;
}

img {
  display: none;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bolder;
  font-size: 250%;
  font-family: Times New Roman;
}

h2 {
  background-color: #8B8989;
  color: #191970;
  font-family: Times New Roman;
}

a {
    color: #000000;
    font-family: Times New Roman;
}

section {
  background-color: #8B8989;
  font-family: Times New Roman;
}
